@media screen and (min-width:641px) and (max-width:1000px){
    body{
        background: url('../imgs/background-destination-tablet.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    p{
        margin:25px;
        font-size: 1.2rem;
    }

    #burguer{
        display:none;
    }

    .opcoesRespon{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color:white;
        list-style-type: none;
        border: 1px solid white;
        backdrop-filter: blur(95px);
    }

    .opcoesRespon li{
        margin: 20px;
    }

    .infoPlaneta{
        margin: 15px 20%;
    }

    .destinos hr{
        margin: 0px 5%;
    }
}

@media  screen and (min-width:1001px) {
    body{
        background: url('../imgs/background-destination-desktop.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 97vh;
        width: 100vw;
    }

    main{
        margin-top: 3%;
    }

    #nav-bar{
        margin-top:1%;
        margin-right: 0px;
    }

    #burguer{
        display: none;
    }

    .opcoesRespon{
        display: flex;
        flex-direction: end;
        color:white;
        list-style-type: none;
        background-color: rgba(66, 66, 66, 0.623);
    }

    .opcoesRespon li a {
        text-transform: uppercase;
    }

    .opcoesRespon li{
        margin: 20px;
        margin-right: 100px;
    }

    .destinos{
        columns: 2;
        column-gap: 120px;
    }

    .destinos .titulo{
        font-size: 1.4rem;
    }

    .destinos ul li{
        cursor: pointer;
        margin: 35px;
        font-size: 1.1rem;
    }

    .destinos p{
        margin:20px;
    }

    .destinos p img{
        margin-right: 130px;
        width: 100%;
        height: 100%;
    }

    .destinos hr{
        margin: 5px;
    }

    .distancia{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .planetas{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .grifado{
        border-bottom: 2px solid white;
    }
}