@media screen and (min-width:641px) and (max-width:1000px){
    body{
        background: url('../imgs/backgrounds/background-home-tablet.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    p{
        margin:25px;
        font-size: 1.2rem;
    }

    button a {
        font-size: 1.8rem;
    }

    #burguer{
        display:none;
    }

    .opcoesRespon{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color:white;
        list-style-type: none;
        border: 1px solid white;
        backdrop-filter: blur(95px);
    }

    .opcoesRespon li{
        margin: 20px;
    }

    .textoCentral{
        margin: 15px 20%;
    }
}

@media  screen and (min-width:1001px) {
    body{
        background: url('../imgs/backgrounds/background-home-desktop.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    main{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    p, h1{
        text-align: center;
    }

    button{
        width: 250px;
        height: 250px;
    }

    button a {
        font-size: 2rem;
    }

    #nav-bar{
        margin-top:1%;
        margin-right: 0px;
    }

    #burguer{
        display: none;
    }

    .opcoesRespon{
        display: flex;
        flex-direction: end;
        color:white;
        list-style-type: none;
        background-color: rgba(66, 66, 66, 0.623);
        text-transform: uppercase;
    }

    .opcoesRespon li{
        margin: 20px;
        margin-right: 100px;
    }

    .informacoes{
        columns: 2;
        column-gap: 200px;
    }

    .informacoes p{
        margin-top: 30px;
    }

    .textoPrincipal{
        width: 320px;
    }

}