@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arsenal', sans-serif;
}

body{
    height: 100vh;
    width:100vw;
    background-image: url(../imgs/backgrounds/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;

}

p{
    color: #fff;
    text-align:center;
    margin:15px;
    word-spacing: 3px;
}

h1{
    color:#fff;
    text-align:center;
    font-size: 4rem;
    margin: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

button{
    margin-top: 20px;
    background-color: #fff;
    border: none;
    width: 150px;
    height: 150px;
    border-radius:50% ;
}

button a{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.opcoesRespon{
    display: none;
}

#opcoes{
    background-color: #0b0d176b;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#opcoes ul li{
    padding: 15px;
    border-bottom: 1px solid rgb(85, 85, 85);
    margin: 0px 30px;
    list-style-type: none;
    color: #fff;
}

.textoCentral{
    margin :8%;
}

.none{
    display:none;
}